
.hero-title {
    font-size: 3.8rem;
    line-height: 4.6rem;
}
.hero-content {
    font-size: 1.8rem;
    line-height: 2.3rem;
}
.hero-link-btn {
    color: #fff;
    text-decoration: none;
}
.hero-link-btn:hover {
    color: #eee;
    text-decoration: none;
}
// .hero-btn {
//     background-color: #E8623C !important;
//     color: #fff !important;
//     border: none !important;
// }
// .hero-btn:hover {
//     background-color: #fff !important;
//     color: #000 !important;
// }